@{
    ViewBag.Title = " WebDnipro - топ в создании сайтов подзаказ";
}
<div class="about">
    <hr>
    <h2>СТУДИЯ <strong>WEB Dnipro</strong></h2>
    <hr>
    <div class="about-container">
        <div>
            <img src="~/Content/image/about/team.jpg" width="550" height="250" alt="">
        </div>
        <div>
            <p><strong>Наша цель</strong> - помочь Вам заявить о себе на просторах Интернет и, тем самым, привлечь целевую аудиторию.</p>
            <p>Неважно чем Вы занимаетесь - малый, средний или крупный бизнес, или даже некоммерческой деятельностью. Веб-сайт поможет целевой аудитории быстрей найти Вас и узнавать о новых продуктах, программах или предложениях. Именно Веб-сайт поможет подняться на новый уровень в Вашем деле и обойти конкурентов! А все технические моменты мы возьмем на себя.</p>
        </div>
    </div>
</div>